@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quem somos?</h5>
                <p>
                    A Colheita do Bem é um projeto de alunos da Fiap. Com o intuito de amenizar o desperdício de alimentos no mundo, tivemos a
                    ideia de conectar empresas/mercados que possuem alimentos sem valores comerciais para eles por haverem algum leve defeito e
                    são rejeitados pelos consumidores, mas podem ter um riquissimo valor para as pessoas de menor poder aquisitivo.
                <p />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consequências</h5>
                <ul>
                    <li>1,3 bilhões de alimentos são desperdiçados anualmente.</li>
                    <li>
                        10,8% da população mundial passam por subnutrição.
                    </li>
                    <li>21 mil pessoas morrem diariamente por fome ou problemas derivados dela</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Solução</h5>
                <p>
                    Por meio de uma plataforma que conecta pessoas em situação de fome e mercados que possuem um desperdício de comida,
                    esses mercados podem anunciar na plataforma produtos sem valor econômico e doar para essas pessoas.
                </p>
                <p>A empresa e o usuário fazem o cadastro no site, a empresa pode publicar seus alimentos com descrição e localidade e os usuários podem ir até o local e fazer a sua retirada.</p>
                <p>Tudo isso é feito por um CRUD, do usuário, da empresa e do seu alimento.</p>
            </div>
        </div>
    </div>
</div>
